PROJECT_ID=
FIRESTORE_PROJECT_ID=
FIRESTORE_COLLECTION=
FIRESTORE_LOGS_COLLECTION=
FIRESTORE_DATABASE=
GCS_BUCKET_NAME=
GCS_PROJECT_ID=
SFTP_HOST=
SFTP_PORT=
SFTP_USERNAME=
SFTP_PASSWORD=
PIPELINE_FILE_URL=
GCP_REGION=
GCP_JOB_NAME=
GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=